/* home manager */

#historyPage{
	width: 100vw;
	height: 100vh;
	display: none;
}
#homeButton{
	background: url("../ressources/homeButton.png");
	background-size:cover;
	width: 10vh;
	height: 10vh;
	position: absolute;
	top: 10vh;
	left: 90vw;
	cursor: pointer;
}
#historyGraph{
    top:15vh;
    left: 10vw;
    height: 70vh;
    width: 60vw;
	background: linear-gradient(45deg, #091921, #636363);
    border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#chart{
	height: 70vh;
	width: 60vw;
}
@media (max-aspect-ratio: 3/2) {
	#historyPage{
		flex-direction: column;
		/* display: flex; */
	}
	#homeButton{
		position: relative;
		top: auto;
		left: auto;
		margin-top: 5vh;
	}
	#historyGraph{
		width: 90vw;
		margin-bottom: 5vh;
		height: 30vh;
	}
}
