*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
	display: flex;
	/* flex-direction: column; */
}
.page{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}
#firstPage{
	/* display: none; */
}
#time{
	margin-top: 5vh;
}
#date{
	margin-top: 30px;
	color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	font: small-caps bold 1.5em sans-serif;
}
#temperature{
	transform: translate(0,-10%);
}
#temp{
	margin-top: 30px;
	color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	font: small-caps bold 9em sans-serif;
	cursor: pointer;
}
@media only screen and (min-width:980px) {
	#firstPage{flex-direction: row;}
	#time{margin-right: 10vw}
	#temperature{margin-left: 10vw}
}
@media only screen and (min-width:730px) and (max-width:980px){
	#firstPage{flex-direction: row;}
	#temperature{margin-left: 4vw;}
	#time{margin-right: 4vw;}
}
@media only screen and (max-width:730px){
	#firstPage{flex-direction: column;}
}
