*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
	display: flex;
	flex-direction: column;
}
#time{
	margin-top: 5vh;
}
#date{
	margin-top: 30px;
	color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	font: small-caps bold 1.5em sans-serif;
}
#temp{
	margin-top: 30px;
	color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	font: small-caps bold 9em sans-serif;
}
@media only screen and (min-width:980px) {
	body{flex-direction: row;}
	#time{margin-right: 10vw}
	#temperature{margin-left: 10vw}
}
@media only screen and (min-width:730px) and (max-width:980px){
	body{flex-direction: row;}
	#temperature{margin-left: 2vw;}
	#time{margin-right: 2vw;}
}
