*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
	display: flex;
}
.item{

}
#time{
	margin-right: 10vw;
}
#date{
	margin-top: 30px;
	color: white;
	justify-content: center;
	display: flex;
	font: small-caps bold 1.5em sans-serif;
}
#temperature{
	margin-left: 10vw;
}
#temp{
	margin-top: 30px;
	color: white;
	justify-content: center;
	display: flex;
	font: small-caps bold 9em sans-serif;
}
@media screen and (max-width:980px) {
	#time{
		margin-right: 2vw
	}
	#temperature{
		margin-left: 2vw
	}
}
@media screen and (max-width:730px) {
	body{
		flex-direction: column;
	}
}
